body{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image:url(table.jpg);

background-size:cover;  /*covers the entire image as background and gives clear part  */
text-align: center;
color:white;
font-weight:bold;
padding: 110px;
}

h1{

color:goldenrod;
font-size:64px;
}

button{
color:#016f32;
font-size:35px;
width:150px;
background:goldenrod;
padding-top:5px;
padding-bottom:5px;
font-weight:bold;
border:none;

margin-top:2px;
display:block;
margin:auto;
}

button{
margin-bottom:10px;
margin-top:2px;
}

p {
font-size:45px;
vertical-align:bottom
}

