*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Mulish",sans-serif ;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #f8e7af;
    display: grid;
    place-items: center;
}

form{
    background-color: #fab1a0;
    padding: 80px;
    margin: 100px auto;
    text-align: center;
    -webkit-box-shadow:0 10px 6px -6px;
}

#temp{
    font-size: 33px;
}

#resultContainer{
    color:black;
    font-size: 44px;
}
label{
    font-size: 35px;
}