body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.outerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #052f4b;

}

.innerDiv {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.main-heading {
    color: #fff;
    margin-bottom: 20px;
    font-size: 88px;
}

#temp{
    color: #052f4b;
}